
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.picture-header {
  background: url("../../img/picture_header.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#first-section-header {
  height: 75%;
}

#first-section-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  //margin-right: 0;
  //margin-left: 0;
}

.style-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.style-icon {
  padding-top: 20px;
}

.style-menu {
  background: #f2f2f2;
  color: #48596b;
  text-decoration: none;
  height: 60px;
  width: 500px;
  margin-left: 0 !important;
}

.tittle-name {
  font-size: 70px;
  font-family: Myriad Pro;
  font-weight: 500;
  color: black;
  line-height: 80px;
}

.padding-tittle-name {
  margin-top: 100px;
}

.tittle-text {
  font-size: 24px;
  font-family: Myriad Pro;
  font-weight: 100;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.button-for-header {
  font-size: 10px;
  color: white;
  background: #1E90FF;
  border: none;
  border-radius: 4px;
  width: 135px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 40px;
}

.button-for-header:hover {
  color: #1E90FF;
  background: white;
}

.video-style {
  color: white !important;
}

.reproduce {
  font-family: Myriad Pro;
  font-size: 15px;
}

.list-unstyled {
  font-size: 11px;
  cursor: pointer;
  font-family: Myriad Pro;
  line-height: 60px;
}

.hero-nav {
  display: inline-block;
  padding-left: 30px;
  vertical-align: middle;

}

a:-webkit-any-link {
  text-decoration: none !important;
  color: #48596b;
}

.hero-nav-img {
  margin-top: 15px;
}

@media screen and (max-width: 960px) {
  .tittle-name {
    font-size: 45px;
    font-weight: 800;
    margin-left: 0 !important;
    text-align: center;
    line-height: 50px;
  }
}

@media screen and (max-width: 960px) {
  .tittle-text {
    font-size: 15px;
    font-weight: 300;
    margin-left: 0 !important;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .padding-tittle-name {
    margin-top: 50px;
  }
}

@media screen and (max-width: 960px) {
  .video-with-button {
    margin: 0 !important;
    text-align: center;
  }
}

footer {
  padding-bottom: 50px;
}

li > a:hover {
  color: deepskyblue;
}

.hamburger {
  color: black;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .hamburger {
    display: block;
    margin-right: 40px;
    margin-top: 15px;
  }
}

.list-unstyled {
  display: block;
}

@media screen and (max-width: 990px) {
  .list-unstyled {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  #two-menu {
    display: none;
  }
}

.style-menu-small {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
  text-align: center;
  border: #dddddd 1px solid;
  border-radius: 10px;
  margin: -500px;
  margin-left: 1px;
  display: none;
}

.style-menu-small li {
  display: block;
  padding: 5px 0 5px 0;
  border-bottom: #dddddd 1px solid;
  border-radius: 10px;
}

.style-menu-small li:hover {
  display: block;
  background: #ffffff;
  border-bottom: #dddddd 1px solid;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.two-section {
  padding: 60px 0 50px 0;

}

.indentation {
  padding-top: 20px;

}

.bold-font {
  font-weight: 600;
  padding-top: 15px;
  padding-left: 15px;
}

.bold {
  font-weight: 800;
}

.button-for-header-white {
  font-size: 11px;
  color: #00BFFF;
  background: white;
  border-radius: 4px;
  border-style: solid;
  border-color: #00BFFF;
  width: 135px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}

.button-for-header-white:hover {
  color: white;
  background: #00BFFF;
}

#square {
  width: 1000px;
  height: 7px;
  border: 1px solid;
  border-color: #DCDCDC;
}

.margin-off {
  margin-left: -15px !important;
}

.bg-for-section {
  background: url("../../img/3_section_picture.jpg") no-repeat center;
  background-size: 900px;
  height: 100vh;
}

.message-img-1 {
  margin-top: 100px;
}

.style-for-tittle {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 80px;
}

.style-for-text {
  font-family: Raleway;
  font-size: 15px;
  color: black;
  margin-bottom: 50px;

}

.bg-color {
  background: #FAF9F7;
  margin-top: -230px;
}

.img-4-section {
  width: 400px;
  height: 380px;
  margin-bottom: 60px;
}

.width_picture {
  width: 1000px;
}

#myProgress {
  background-color: #F5F5F5;
  border: 1px solid #DCDCDC;
  height: 35px;
  margin-top: 20px;
  width: 400px;
  margin-bottom: -10px;
  margin-left: 15px;
}

#myBar1 {
  @extend .progress_bar;
  width: 70%;
  background-color: #87CEFA;
}

#myBar2 {
  @extend .progress_bar;
  width: 85%;
  background-color: #87CEEB;
}

#myBar3 {
  @extend .progress_bar;
  width: 60%;
  background-color: #00BFFF;
}

#myBar4 {
  @extend .progress_bar;
  width: 70%;
  background-color: #1E90FF;
}

.progress_bar {
  height: 35px;
  text-align: left;
  line-height: 35px;
  color: white;
  padding-left: 20px;
  margin-top: -21px;
  margin-left: -15px;
}

@media screen and (max-width: 768px) {
  .img-4-section {
    height: 280px;
  }
}

@media screen and (max-width: 990px) {
  .width_picture {
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .width_picture {
    width: 800px;
    margin-left: 50px;
  }

}

@media screen and (max-width: 1350px) {
  #myProgress {
    //width: 1000px;
  }
}

.size-img {
  width: 160px !important;
  height: 120px;
  padding: 0 !important;
  margin: 0 !important;
}

.section_6_picture_ {
  background: url("../../img/section_6_picture_.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 350px;
}

.text-color-section_6 {
  color: white;
  font-size: 25px;
  font-family: lucida sans unicode;
  text-align: center;
  padding-top: 25px;
}

.color-for-text-section_6 {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 25px;
  display: block;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .color-for-text-section_6 {
    font-size: 12px;
  }
}

.btn-section-6 {
  background: transparent;
  border-color: white;
  color: white;
}

.btn-section-6:hover {
  color: black;
  background: white;
}

.picture_section_7 {
  text-align: center;
}

.style-for-name {
  font-size: 15px;
  font-family: century gothic;
  font-weight: bold;
  padding-top: 15px;
}

.style-for-work {
  font-size: 10px;
  font-family: century gothic;
  padding-top: -5px;
  color: gray;
}

.icon {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.icon-white {
  color: white !important;
  padding-left: 15px;
  margin: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.icon-white:hover {
  font-size: 28px;
}

.section_7_picture_ {
  background: aliceblue;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.text-color-section_7 {
  font-size: 23px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
}

.color-for-text-section_7 {
  text-align: center;
  padding-bottom: 50px;
}

.style_price {
  text-align: center;
  padding-bottom: 40px;

}
.style_price:hover {
  background: gainsboro;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  .btn-section-7 {
    border-color: #00BFFF;
    background: #00BFFF;
    color: white;
  }
}

.btn-section-7 {
  background: transparent;
  border-color: #00BFFF;
  color: #00BFFF;
  border: solid 2px;
}

.tittle-price {
  padding-top: 35px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.tittle-support {
  font-size: 11px;
  color: grey;
}

.padding-number {
  margin-bottom: -15px;
}

.style-for-number {
  font-size: 50px;
}

.style-for-mouth {
  font-size: 11px;
  color: grey;
}
.picture_8 {
  background: url("../../img/section_8.jpg") no-repeat center;
  width: 85%;
  height: 300px;
  margin-top: -15px;
}
@media screen and (max-width: 768px) {
  .picture_8 {
    background: url("../../img/section_8_1.jpg") no-repeat center;
  }
  .author-say {
    text-align: center;
  }
  .work-place {
    text-align: center;
  }
  .author-name {
    text-align: center;
  }
  .line-style {
    text-align: center;
  }
}
.author-say {
  padding-top: 130px;
  font-size: 11px;
}

.work-place {
  font-size: 11px;
  }
.author-name {
  font-size: 13px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 2px;
}
.line-style {
  color: #1E90FF;
}
@media screen and (max-width: 1059px) {
  .author-say {
    padding-top: 120px;
  }
  .author-name {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .line-style {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .author-say {
    padding-top: 300px;
  }
}
.section_9 {
  background: rgb(43, 161, 236);
  height: 250px;
}
.parent {
  width: 100%;
  height: 20%;
  //position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //overflow: auto;
}
.form-style {
  border: solid 8px;
  border-radius: 5px;
  border-color: #4169E0;
  background: #4169E0;
  width: 570px;
  display: block;
}

.say-title {
  font-size: 11px;
  font-family: CENTURY GOTHIC;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 40px;
  color: white;
}
.tittle-sec9 {
  font-size: 23px;
  font-family: CENTURY GOTHIC;
  text-align: center;
  padding-top: 40px;
  color: white;
}
.btn-section-9 {
  background: red;
  color: white;
  width: 150px;
}